body {
    background: #e8cbc0;
    background: -webkit-linear-gradient(to right, #e8cbc0, #7e87ad);
    background: linear-gradient(to right, #e8cbc0, #787fa2);
    min-height: 100vh;
}
/* img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 50%;
}
.col-md-4 {
    padding-top: 15px;
}
.col-md-2 {
    padding-top: 50px;
} */